{% extends 'base.html' %}


{% block content %}
{%load cart%}
{%load custom_filter%}

<div class="container">
<div class="border rounded p-4 m-4">
<p class="display-4 pl-4 ml-4">Your Cart</p>
<hr>
   <table class="table text-center">
		<thead>
			<tr>
            <th>S.N.</th>
            <th>Image</th>
			<th>Name</th>
			<th>Category</th>
			<th>Rate</th>
			<th>Quantity</th>
            <th>Amount</th>
			{% comment %} <th>price</th> {% endcomment %}
			</tr>
		</thead>
		<tbody>
        {% for product in products %}
			<tr class="text-center">
            <td>{{ forloop.counter }}</td>
            <td><img src="{{product.image.url}}" style="height:40px; width:40px" ></td>
			<td>{{product.name}}</td>
			<td>{{product.category}}</td>
            <td>{{product.price|currency}}</td>
            <td>{{product|quantity_in_cart:request.session.cart}}</td>
    
			<td>{{product|multiply:request.session.cart|currency}}</td>
		{% endfor %}
			<tr class="text-center">
			<td colspan="6">Total</td>
            <td >{{products | total_sum:request.session.cart|currency}}</td>
			</tr>
		</tbody>
</table>
<hr>
<div class="m-3 p-3">
<button type="button" class="btn btn-outline-info border rounded col-lg-3 float-right" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
</div>
</div>
</div>



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Checkout Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="m-2 p-3">
      <form action="/check-out" method="POST">
      {% csrf_token %}
        <div class="form-group">
        <label for="address">Address</lable>
        <input type="text" name="address" id="address" class="form-control" placeholder="" aria-describedby="helpId">
        </div>
        <div class="form-group">
        <label for="address">Phone</lable>
        <input type="text" name="phone" id="phone" class="form-control" placeholder="" aria-describedby="helpId">
        </div>
        <input type="submit" class="btn btn-outline-info border rounded float-right" value="Checkout">
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}